<!DOCTYPE html>
<html>

<head>
  <title>Tabla de filtros</title>
  <link rel="stylesheet" href="app.component.css">
  <script src="./app.component.ts"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <h2>Tabla de filtros</h2>

  <input type="text" [(ngModel)]="searchQuery" placeholder="Escribe caracteres del nombre" (input)="filterUsers()">
  
  <div class="button-container">
    <button (click)="sortByNameAsc()">Sort by Name Asc</button>
    <button (click)="sortByNameDesc()">Sort by Name Desc</button>

  </div>

  

  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Nombre Usuario</td>
        <td>Email</td>
        <td>Telefono</td>
        <td>Sitio Web</td>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.website}}</td>
      </tr>
    </tbody>
  </table>
</body>

</html>
